<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@RoomName</h5>
        @*<h6 class="card-subtitle mb-2 text-muted"></h6>*@
        <p class="card-text">@RoomDescription</p>
        <a href="/Room/@RoomId" class="card-link">Enter</a>
    </div>
</div>