@using Chat.Web.Components

@page "/"

<PageTitle>Chat App</PageTitle>

<h1 class="mb-3">Welcome to the Chat App</h1>

<AuthorizeView>
    @*@foreach (var room in Rooms)
    {
        <ChatRoomPanel/>
    }*@
</AuthorizeView>